
@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>

<p>Criador: @ViewData["Criador"]</p>
<p>teste teste teste</p>

<address>
    <strong>More information: </strong> <a href="http://globo.com">Site Globo</a>
</address>
